body, html {
	margin: 0;
	padding: 0;
	height: 100%;
}
* {
	font-family: sans-serif;
}
.jumbotron {
	background-color: #8c1aff !important;
	color: white !important;
}
.navbar {
      margin-bottom: 0;
      background-color: #8c1aff !important;
      z-index: 9999;
      border: 0;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
	  font-family: sans-serif;
}
.navbar li a, .navbar .navbar-brand {
      color: #fff !important;
	  transition: 0.3s;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
      color: #8c1aff !important;
      background-color: #fff !important;
}
.navbar-default .navbar-toggle {
      border-color: transparent;
      color: #fff !important;
}
.navbar-brand {
	position: absolute;
}
#totop:hover {
	background-color: white;
	color: #8c1aff;
}
.tocenovnik {
	color: #3399FF !important;
	text-decoration: underline;
	transition: all 0.5s;
}
.tocenovnik:hover {
	text-decoration: none !important;
	color: white !important;
}
.tocenovnik:visited {
	color: #A0A0A0;
}
#totop {
	position: fixed;
	z-index: 99;
	bottom: 5%;
	right: -21%;
	font-size: 2.5em !important;
	border-radius: 50% !important;
	color: white;
	background-color: #8c1aff;
	transition: 0.5s;
}
#galerija {
	padding: 10px 0;
	box-shadow: 0 4px 8px 4px rgba(0,0,0,0.2), 0 10px 15px 10px rgba(0,0,0,0.1);
	margin: auto;
}
#linktogal {
	color: #8c1aff !important;
	border: 1px solid #8c1aff !important;
	padding: 7px 15px;
	border-radius: 10px;
	transition: all 0.5s;
}
#cenovnik {
	box-shadow:0 4px 8px 4px rgba(0,0,0,0.2), 0 10px 15px 10px rgba(0,0,0,0.1);
	margin-top:25px;
	color:#606060;
}
#linktogal:hover {
	color: white !important;
	background-color: #8c1aff !important;
	text-decoration: none;
}
#guglmapa {
	box-shadow: 0 4px 8px 4px rgba(0,0,0,0.2), 0 10px 15px 10px rgba(0,0,0,0.1);
	margin-top: 25px;
	padding: 0 10px 10px 10px;
	text-align: center;
	color: #606060;
}
#kontakt {
	text-align: center;
	box-shadow: 0 4px 8px 4px rgba(0,0,0,0.2), 0 10px 15px 10px rgba(0,0,0,0.1);
	margin: 35px auto;
	padding: 0 10px 10px 10px;
	font-family: sans-serif;
	color: #606060 !important;
}
.fa:not(#angleup) {
	font-size: 25px !important;
	padding: 17px 20px;
	text-align: center;
	text-decoration: none !important;
	color: white;
	border-radius: 50%;
	transition: 0.5s;
}
#instag {
	padding: 17px !important;
	color: #fff;
	background: #d6249f;
	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}
.fa:hover:not(#angleup) {
	opacity: 0.5;
	transform: translateY(-3px);
}
#footer {
	box-shadow: 0 4px 8px 4px rgba(0,0,0,0.2), 0 10px 15px 10px rgba(0,0,0,0.1);
	margin: 35px auto 0;
	padding: 20px 10px 20px 10px;
	text-align: center;
	color: white;
	background-color: #8c1aff;
}
#development:hover {
	color: white !important;
	text-decoration: none !important;
}
input:not(.submitbtn) {
	padding:5px !important;
	border-radius:5px;
	transition:.5s;
	border:2px solid #8c1aff;
	box-shadow: 0 2px 4px 2px rgba(0,0,0,0.1), 0 5px 7px 5px rgba(0,0,0,0.05);
	width:220px;
}
.submitbtn {
	padding:5px !important;
	border-radius:5px;
	transition:.5s;
	border:2px solid #8c1aff;
	box-shadow: 0 2px 4px 2px rgba(0,0,0,0.1), 0 5px 7px 5px rgba(0,0,0,0.05);
	background-color: white;
	color: #8c1aff !important;
	padding:7px 10px !important;
}
.submitbtn:hover {
	background-color: #8c1aff;
	color:white !important;
}
/* -------------------------------------------------------------------------------------------------- */

.slideanim {visibility:hidden;}
.slide {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide;
    /* The duration of the animation */
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    /* Make the element visible */
    visibility: visible;
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

/* ------------------------------------------------------- */
/* LOADER */

.loader {
  left: 50%;
  top: 50%;
  position: fixed;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
	z-index:100000;
}
.loader #spinner {
    box-sizing: border-box;
    stroke: #673AB7;
    stroke-width: 3px;
    -webkit-transform-origin: 50%;
            transform-origin: 50%;
    -webkit-animation: line 1.6s cubic-bezier(0.4, 0, 0.2, 1) infinite, rotate 1.6s linear infinite;
            animation: line 1.6s cubic-bezier(0.4, 0, 0.2, 1) infinite, rotate 1.6s linear infinite;
}

@-webkit-keyframes line {
  0% {
    stroke-dasharray: 2, 85.964;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    stroke-dasharray: 65.973, 21.9911;
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dasharray: 2, 85.964;
    stroke-dashoffset: -65.973;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

@keyframes line {
  0% {
    stroke-dasharray: 2, 85.964;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    stroke-dasharray: 65.973, 21.9911;
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dasharray: 2, 85.964;
    stroke-dashoffset: -65.973;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}
